#.gitignore - files to ignore when uploading to git

# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Environment files
.env

# Generated output
output/
*.xml

# Helper files
helper_files/
